body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: right;
  background: black;
  /* background-image: url("../src/Images/robotLadeao.png");
  background-repeat: no-repeat;
  background-position-y: ; */
}

img {
  margin: 20px;
}
